// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px. 1.6rem=16px
html
	box-sizing: border-box
	font-size: 62.5%

// Default body styles
body
	color: $color-secondary
	font-family: $font-family
	font-size: 1.8em
	// currently ems cause chrome bug misinterpreting rems on body element
	font-weight: 300
	letter-spacing: .01em
	line-height: 1.6
    margin: 0 // No border around site

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before
	box-sizing: inherit


$phone-width: 350px
$mobile-width: 40.0rem
$tablet-width: 80.0rem
$desktop-width: 120.0rem

@media print
	footer, nav
		display: none
